@font-face {
    font-family: 'cooper-hewit';
    src: url(assets/fonts/CooperHewitt-Thin.ttf);
}

:root {
    --primary-color: #12405f;
    --secondary-color: #ef4a0d;
    --danger-color: #d2331e;
    --warning-color: #e1c718;
    --success-color: #319931;
    --background-color: #0e1427;
    --light-text-color: white;
    --light-border-color: #12405f;

    --font-family: 'Courier New', Courier, monospace; 
    --timer-font-family: 'cooper-hewit';
}

* {
    font-size: 100%;
    font-family: var(--font-family);
}

body {
    background-color: var(--background-color);
    color: var(--light-text-color);
}

button {
    border: none;
    border-radius: 0.4em;
    padding: 0.5em 1em;
    margin: 0.3em;
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

button:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--primary-color) 80%, white);
}

#container {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.timer {
    padding: 1.3em;
    min-width: 580px;

}

.timer,
.timer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-box {
    padding: 1.4em;
    border: 2px var(--light-border-color) solid;
}

.timer h2 {
    text-align: center;
    font-size: 2em;
}

.timer .text {
    font-size: 12em;
    font-weight: bold;
    text-align: center;
    font-family: var(--timer-font-family);
}

.timer .controls,
.timer .options {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 1.5em;
    padding: 10px;
}

.timer .control,
.timer .control button {
    width: 100%;
    border-radius: 10px;
}

.timer .option {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 0.4em;
    padding: 0;
}

.timer .options button {
    margin: 0;
    padding: 0.2em 1.5em;
    border-radius: 8px;
    min-width: 80px;
    padding: 20px;
    font-size: 1.2em;
}

.option .add {
    background-color: var(--success-color);
}

.option .add:hover {
    background-color: color-mix(in srgb, var(--success-color) 80%, white);
}

.option .substract {
    background-color: var(--danger-color);
}

.option .substract:hover {
    background-color: color-mix(in srgb, var(--danger-color) 80%, white);
}